# Office Task
# Exercise 4

1. Create a function using 'lambda' for exponent of a given number. Take two
arguments one as the number and the other one as the exponent.

In [3]:
expo = lambda a,b:a**b
expo(3,3)

27

2. Create an assertion for a string to check the length of the string being minimum of
10 letters.

In [7]:
s = input("Enter String:")
if len(s)>=10:
    print(s)
else:
    print("Enter string of minimum 10 letters")

Enter String:
Enter string of minimum 10 letters


3. Read a file 'python.txt' which is containing python code and execute the python
code which is read from the file.

In [42]:
# fileread = open("python.txt",'r')
# %run fileread.py
%run python.txt

Enter String:sadgdhjm,k
sadgdhjm,k


4. Using range get me a list of 1 to 10 and from this list generate a list as
[13,15,17,19,21,23,25,27,29,31]. Code needs to be done in one line only.

In [45]:
lst = [i+i+11 for i in range(1,11) ]
print(lst)

[13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

5. Using range get me a list of even numbers between 1 to 100. Code needs to be
done in one line only.

In [28]:
even = [i for i in range(1,100) if i%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

6. Generate a list of exponents of first 25 integers. Code needs to be in one line only.

In [29]:
expo = [i**2 for i in range(1,26)]
print(expo)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625]


7. Create a generator method to have the prime numbers using yield between 1 to
100.

In [14]:
def prime():
    for a in range(2,100+1):  
        k=0  
        for i in range(2,a//2+1):  
            if(a%i==0):  
                k=k+1  
        if(k<=0):  
            yield a

In [15]:
a = prime()

In [20]:
next(a)

11

8. Create a generator method which gives random numbers between 1 to 100 and
the number not being repeated. Make sure it generates only 10 numbers.

In [9]:
import random

In [10]:
def randomNum():
    n=0
    lst = []
    while n<10:
        num = random.randint(1,100)
        if num not in lst:
            lst.append(num)
            n +=1
            yield num
    else:
        print("limit over")
           
number = randomNum()

In [13]:
next(number)

11

9. Convert a decimal number '15' to binary, hexadecimal, octal numbers.

In [30]:
x = 15
print(bin(15))
print(oct(15))
print(hex(15))

0b1111
0o17
0xf


10. Convert a Hexadecimal number '10' to binary, decimal and octal numbers.

In [33]:
x = '10'
x = int(x,16)
print(x)#decimal
print(bin(x))
print(oct(x))

16
0b10000
0o20

11. Convert an Octal number '13' to binary, decimal and hexadecimal numbers.

In [35]:
x = '13'
x = int(x,8)
print(x)
print(bin(x))
print(hex(x))

11
0b1011
0xb

12. Convert Binary number '11010001111100111' to decimal, hexadecimal and octal
numbers.

In [37]:
x = '11010001111100111'
x = int(x, 2)
print(x)
print(oct(x))
print(hex(x))

107495
0o321747
0x1a3e7

13. Create a dictionary containing all the Capital Letters 'A-Z', Small Letters 'a-z', and
Digits '0-9' as keys and their ascii values as values using generators.

In [33]:
import string

In [34]:


lower = {l: ord(l) for l in string.ascii_lowercase}
lower

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}

In [38]:

upper = {u: ord(u) for u in string.ascii_uppercase}
upper

In [50]:
digits = {d: ord(d) for d in string.digits}
digits

{'0': 48,
 '1': 49,
 '2': 50,
 '3': 51,
 '4': 52,
 '5': 53,
 '6': 54,
 '7': 55,
 '8': 56,
 '9': 57}

14. Get an absolute value of any negative integer.

In [38]:
n = int(input("Enter any negative number:"))
print(abs(n))

Enter any negative number:-15
15

15. Get me a divisor and remainder dividing 5 by 2. Code should be in one line.

In [51]:
print(5/2, 5%2)

2.5 1

16. Compare two numbers and get me the maximum number with a built-in function.

In [52]:
max(10,15)

15

17. Create a class with member variables. Now perform the following.
1. Check whether an attribute exists in the class or not.
2. Fetch the value of an attribute of a class.
3. Update the value of an attribute of a class.
4. Delete the attribute of a class.

In [60]:
class Person():
    
    def __init__(self,name,age):
        self.name=name
        self.age = age
        
    def updateName(self,name):
        self.name=name
        
p = Person('asad',21)
print(p.name)
print(p.age)
hasattr(p,'name')
getattr(p,'age')
setattr(p,'name','techultra')
print(p.name)
delattr(p,'name')
print(p.name)

asad
21
techultra

AttributeError: 'Person' object has no attribute 'name'


18. Generate a list of having 10 elements using random but the numbers shoudl be
either 1 or 0. Check if all the elements are 1 print “ALL” and if any of the single
element is 1 print “ANY” and if all the elements are 0 print “NONE”.

In [61]:
import random

In [65]:
lst = [random.randint(0,1) for i in range(0,10)]
if all(lst):
    print("ALL")
elif any(lst):
    print("ANY")
else:
    print("NONE")

ANY

19. Get 10 random numbers in a list and get the maximum number from the list.

In [69]:
lst = max([random.randint(1,100) for i in range(0,10)])
lst

97

20. Get 10 random numbers in a list and get the minimum number from the list.

In [72]:
lst = min([random.randint(1,100) for i in range(0,10)])
lst

5


21. Get 10 random numbers from 1 to 100 in a list and create two separate lists from
it for odd and even numbers using filter.

In [83]:

lst = [random.randint(1,100) for i in range(0,10)]
print(lst)
even = [i for i in lst if i%2==0]
odd =  [i for i in lst if i%2!=0]
print(even)
print(odd)

[41, 24, 1, 32, 96, 54, 73, 97, 78, 56]
[24, 32, 96, 54, 78, 56]
[41, 1, 73, 97]

22. Using map generate cubes of first 10 numbers.

In [86]:
def cube(x):
    return x**3

lst = [i for i in range(1,11)]
#print(lst)
a = map(cube,lst)
print(list(a))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

23. Using map generate a list from two lists by multiplying the elements in the two
lists on the identical indexes in both the lists.

In [94]:
lst1=[1,2,3,4,5]
lst2=[1,2,3,4,5]

def mul(a):
    return a[0]*a[1]

# lst = [(a,b) for a,b in zip(lst1,lst2)]
# print(lst)
final = map(mul,[(a,b) for a,b in zip(lst1,lst2)])
print(list(final))

[1, 4, 9, 16, 25]

24. Generate 15 random numbers from 1 to 100 and get the total of all these numbers.

In [97]:
ran = print(sum([random.randint(1,100) for i in range(0,15)]))

670

25. Get a list of 10 random characters and then merge all the characters in a single
string.

In [100]:
s = ''.join([random.choice(string.ascii_lowercase) for i in range(0,10)])
s

'oksyzvkhhc'

26. Create a class with few methods and in one of the method get all the global
attributes that can be used in that method and also the local attributes that can be
used in that method.

In [107]:
class Dog:
    
    total = 0
    def __init__(self,name,breed,color):
        self.name = name
        self.breed = breed
        self.color = color
        Dog.total += 1
        
    def running(self,run):
        self.run = run
    
    def no_of_dogs(self,total):
        return Dog.total 
    
d1 = Dog('john','bulldog','grey')
d2 = Dog('mike','german shephard','orange')

d1.name = 'tom'
d1.name

#d2.total = 2
d2.total

2

27. Create two classes one as a parent and the other as a child. Make a validation
whether the child is a subclass of parent or not.

In [109]:
class Parent():
    pass

class Child(Parent):
    pass

c = Child()
isinstance(c,Parent)

True


28. Get two lists ['a','b','c','d','e'],[1,2,3,4,5] and generate a single dictionary
{'a':1,'b':2,'c':3,'d':4,'e':5} with the identical indexed items.

In [110]:
lst1 = ['a','b','c','d','e']
lst2 = [1,2,3,4,5]
d = {}
for a,b in zip(lst1,lst2):
    d[a]=b

print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

29. Sort a list of random 25 numbers between 1 to 100 without using the sort method.

In [114]:
lst = [random.randint(1,100) for i in range(0,25)]
for i in range(len(lst)):
    for j in range(i,len(lst)):
        if lst[i]>lst[j]:
            lst[i],lst[j] = lst[j],lst[i]
print(lst)

[1, 4, 4, 5, 6, 8, 10, 17, 23, 24, 28, 31, 31, 31, 34, 43, 43, 44, 48, 58, 71, 88, 90, 94, 96]


30. Create a function for addition of two numbers. Create a validation that both of
them must be either float or integer using a built in method.

In [125]:
def add(a,b):
    if isinstance(a,int) and isinstance(b,int) or isinstance(a,float) and isinstance(b,float):
        return a+b
    else:
        return 'Enter either both int or float'


add(3,5)

8

31. Create a decorator that adds two random values between 1 to 10 to the functions
where this decorator is used. Create 4 functions add, sub, mul, div which will have
this decorator and call the 4 functions. When you’re calling the function you should
not pass any parameter however all the functions will be defined with parameters.

In [22]:
def decor(func):
    def inner():
        func()
    return inner()
    

@decor
def add():
    print(random.randint(1,100)+random.randint(1,100))

@decor
def sub():
    print(random.randint(1,100)-random.randint(1,100))

@decor
def mul():
    print(random.randint(1,100)*random.randint(1,100))

@decor
def div():
    print(random.randint(1,100)/random.randint(1,100))


add()
sub()
mul()
div()

84
-9
3588
0.6704545454545454

TypeError: 'NoneType' object is not callable

32. Create two different decorators. One will give the square of a number and the other one will increase the number by 10. Assign these two decorators to a function such that first the square of the no will be done and then 10 will be added and then the function operation will be done.

In [23]:
def decor1(a):
    def square(a):
        return a**2
    return square

def decor2(a):
    def add_ten(a):
        return a+10
    return add_ten

@decor1
def sq(a):
    return a

@decor2
def ten(a):
    return a

print(ten(sq(2)))

14

33. Create a decorator with 2 parameters. Assign these decorator to a function which also has 2 parameters. Multiply the parameters passed in the decorator and pass it to the function which is decorated by this decorator as an argument when calling the function from decorator.

In [25]:
def decor(func):
    def mul(a,b):
        return func(a,b)
    return mul

@decor
def func(a,b):
    return a*b

func(5,10)

50

# Practice

In [31]:
def decor1(sq):
    def square(a):
        return sq(a)
    return square

def decor2(ten):
    def add_ten(a):
        return ten(a)
    return add_ten

@decor1
def sq(a):
    return a**2

@decor2
def ten(a):
    return a+10

print(ten(sq(2)))

14