1. Create a function using 'lambda' for exponent of a given number. Take two arguments one as the number and the other one as the exponent.

In [12]:
fun = lambda x, n: x**n
fun(int(input("enter number")),int(input("enter expo")))

enter number2
enter expo2

4

2. Create an assertion for a string to check the length of the string being minimum of
10 letters.

In [20]:
s = input("Enter String")
if s:
    if len(s) >= 10:
        print("string is greater than 10")
    else:
        print("string not is greater than 10")
else:
    print("please enter value")

Enter String
please enter value

3. Read a file 'python.txt' which is containing python code and execute the python
code which is read from the file.

In [25]:
%run python.txt

Enter Stringerdfgulukthrw
string is greater than 10

4. Using range get me a list of 1 to 10 and from this list generate a list as
[13,15,17,19,21,23,25,27,29,31]. Code needs to be done in one line only.

In [47]:
lst = [i+int(f"{11+i}") for i in range(1,11)]
lst

[13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

In [ ]:
lst = [i+10 for i in range(1,21,2)]
lst

5. Using range get me a list of even numbers between 1 to 100. Code needs to be
done in one line only.

In [50]:
even = [i for i in range(0,100,2)]
even

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

6. Generate a list of exponents of first 25 integers. Code needs to be in one line only.

In [53]:
expo = [i**2 for i in range(1,26)]
expo

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625]

7. Create a generator method to have the prime numbers using yield between 1 to
100

In [69]:
def prime():
    for a in range(2,100+1):  
        k=0  
        for i in range(2,a//2+1):  
            if(a%i==0):  
                k=k+1  
        if(k<=0):  
            yield a

In [70]:
a = prime()

In [87]:
next(a)

59

8. Create a generator method which gives random numbers between 1 to 100 and
the number not being repeated. Make sure it generates only 10 numbers.

In [234]:
import random

In [279]:
def randomNum():
    n=0
    lst = []
    while n<10:
        num = random.randint(1,100)
        if num not in lst:
            lst.append(num)
            n +=1
            yield num
    else:
        print("limit over")
           
number = randomNum()

In [280]:
next(number)

22

9. Convert a decimal number '15' to binary, hexadecimal, octal numbers.

In [284]:
print("binary", bin(15))
print("hexadecimal", hex(15))
print("octal", oct(15))

binary 0b1111
hexadecimal 0xf
octal 0o17

10. Convert a Hexadecimal number '10' to binary, decimal and octal numbers.

10. Convert a Hexadecimal number '10' to binary, decimal and octal numbers.

In [311]:
h = int("10", 16)

print(str(h))
print(oct(h))
print(bin(h))

16
0o20
0b10000

11. Convert an Octal number '13' to binary, decimal and hexadecimal numbers.

In [313]:
o = int("13", 8)

print(str(o))
print(oct(o))
print(bin(o))

11
0o13
0b1011

12. Convert Binary number '11010001111100111' to decimal, hexadecimal and octal
numbers.

In [315]:
o = int("11010001111100111", 2)
print(str(o))
print(hex(o))
print(oct(o))

107495
0x1a3e7
0o321747

13. Create a dictionary containing all the Capital Letters 'A-Z', Small Letters 'a-z', and
Digits '0-9' as keys and their ascii values as values using generators.

In [324]:
print(ord("9"))

57

In [348]:
import string
lower = {c: ord(c) for c in string.ascii_lowercase}
lower

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}

In [345]:
digit = {c: ord(c) for c in string.digits}
digit

{'0': 48,
 '1': 49,
 '2': 50,
 '3': 51,
 '4': 52,
 '5': 53,
 '6': 54,
 '7': 55,
 '8': 56,
 '9': 57}

In [347]:
upper = {c: ord(c) for c in string.ascii_uppercase}
upper

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

14. Get an absolute value of any negative integer.

In [349]:
print(abs(-10))

10

15. Get me a divisor and remainder dividing 5 by 2. Code should be in one line.

In [351]:
print(5%2, 5/2)

1 2.5

In [352]:
max(10,20)

20

17. Create a class with member variables. Now perform the following.
1. Check whether an attribute exists in the class or not.
2. Fetch the value of an attribute of a class.
3. Update the value of an attribute of a class.
4. Delete the attribute of a class.

In [375]:
class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age 
    def updateName(self,name):
        self.name = name
        
p = Person("prince", 20)
hasattr(p, "name")
print(p.name)
p.updateName('asad')
print(p.name)
setattr(p, "name", "techultra")
print(p.name)
delattr(p, "age")
del p.name
print(p.age)
print(p.name)

prince
asad
techultra

AttributeError: 'Person' object has no attribute 'age'

18. Generate a list of having 10 elements using random but the numbers shoudl be
either 1 or 0. Check if all the elements are 1 print “ALL” and if any of the single
element is 1 print “ANY” and if all the elements are 0 print “NONE”.

In [394]:
random_list = [random.randint(0,1) for _ in range(0,10)]
if all(random_list):
    print("All")
elif any(random_list):
    print("ANY")
else:
    print("None")

19. Get 10 random numbers in a list and get the maximum number from the list.

In [417]:
max([random.randint(1,100) for _ in range(1,10)])

89

20. Get 10 random numbers in a list and get the minimum number from the list.

In [419]:
min([random.randint(1,100) for _ in range(0,10)])

7

21. Get 10 random numbers from 1 to 100 in a list and create two separate lists from
it for odd and even numbers using filter.

In [421]:
even=[]
odd=[]
lst = [random.randint(1,100) for _ in range(0,10)]
for i in lst:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        
print(even)
print(odd)

[44, 94, 28, 96]
[85, 95, 33, 75, 89, 75]

22. Using map generate cubes of first 10 numbers.

In [424]:
def cube(n):
    return int(n)**3

lst = list(map(cube,input().split(" ")))
print(lst)

1 2 3 4 5 6 7 8 9 10
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

23. Using map generate a list from two lists by multiplying the elements in the two
lists on the identical indexes in both the lists.

In [436]:
lst1 = [1,2,3,4,5,6,7,8,9]
lst2 = [1,2,3,4,5,6,7,8,9]

In [439]:

lst = list(map(lambda x: x[0]*x[1], [(a, b) for a, b in zip(lst1, lst2)]))
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

24. Generate 15 random numbers from 1 to 100 and get the total of all these numbers.

In [441]:
sum([random.randint(1,100) for _ in range(1,16)])

967

25. Get a list of 10 random characters and then merge all the characters in a single
string.

In [449]:
import random, string

"".join([random.choice(string.ascii_lowercase) for _ in range(0,10)])

'ojtrrgybbt'

26. Create a class with few methods and in one of the method get all the global
attributes that can be used in that method and also the local attributes that can be
used in that method.

In [458]:
class Animal():
    no_of_animal = 0
    def __init__(self, name, breed,color):
        self.name = name
        self.breed = breed
        self.color = color
        Animal.no_of_animal+=1
    def getName(self):
        print(self.name)
        
    def getColor(self):
        print(self.color)
    def getTotalAnimal(self):
        print(Animal.no_of_animal)
    def remove_animal(self):
        Animal.no_of_animal-=1

In [459]:
Bengaltiger = Animal("bob", "Bengal", "orange")
Whitetiger = Animal("mike", "White", "White")
print(Animal.no_of_animal)
Bengaltiger.remove_animal()
print(Animal.no_of_animal)

2
1

27. Create two classes one as a parent and the other as a child. Make a validation
whether the child is a subclass of parent or not.

In [460]:
class Parent():
    def __init__(self):
        print("parent")
    
class Child(Parent):
     def __init__(self):
        print("Child")
    

c = Child()
isinstance(c, Parent)

Child

True

28. Get two lists ['a','b','c','d','e'],[1,2,3,4,5] and generate a single dictionary
{'a':1,'b':2,'c':3,'d':4,'e':5} with the identical indexed items.

In [479]:
lst1=['a','b','c','d','e']
lst2=[1,2,3,4,5] 
d = dict()
if len(lst1) == len(lst2):
    for a,b in zip(lst1,lst2):
        d[a] = b
    print(d)
else:
    print("Both size must be same")

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
lst1=input().split(" ")
lst2=input().split(" ")
d = dict()

if len(set(lst1)) == len((lst2)):
    for a,b in zip(lst1,lst2):
        d[a] = b
    print(d)
else:
    print("Both size must be same or unique key list")

29. Sort a list of random 25 numbers between 1 to 100 without using the sort method.

In [482]:
lst = [random.randint(1,100) for _ in range(1,26)]

In [483]:
for i in range(len(lst)):
    for j in range(i, len(lst)):
        if lst[i] > lst[j]:
            lst[i], lst[j] = lst[j], lst[i]
print(lst)

[1, 4, 6, 7, 11, 16, 28, 35, 39, 44, 45, 50, 51, 53, 54, 58, 63, 67, 68, 76, 78, 85, 87, 93, 97]

30. Create a function for addition of two numbers. Create a validation that both of
them must be either float or integer using a built in method.

In [519]:

def addition(a, b):
    if isinstance(a,int) and isinstance(b,int) or isinstance(a,float) and isinstance(b,float) :
         print(a+b)
    else:
        print("both values should be same type or both must be either float or integer")
addition(1,2)

3

31. Create a decorator that adds two random values between 1 to 10 to the functions where this decorator is used. Create 4 functions add, sub, mul, div which will have this decorator and call the 4 functions. When you’re calling the function you should not pass any parameter however all the functions will be defined with parameters.

In [511]:
def is_called():
    def is_returned():
        print("Hello")
    print("tech")
    return is_returned


new = is_called()

# Outputs "Hello"
new()

tech
Hello

In [556]:
def make_pretty(func):
    def inner():
        func()
    return inner()

@make_pretty
def addition():
    print("addition")
    print(random.randint(1,100) + random.randint(1,100))

@make_pretty
def division():
    print("division")
    print(random.randint(1,100) / random.randint(1,100))

@make_pretty
def multiplication():
    print("multiplication")
    
    print(random.randint(1,100) * random.randint(1,100))

@make_pretty
def substraction():
    print("substraction")
    
    print(random.randint(1,100) - random.randint(1,100))

addition()
division()
multiplication()
substraction()

addition
143
division
0.04878048780487805
multiplication
4968
substraction
-24

TypeError: 'NoneType' object is not callable

32. Create two different decorators. One will give the square of a number and the other one will increase the number by 10. Assign these two decorators to a function such that first the square of the no will be done and then 10 will be added and then the function operation will be done.

In [ ]:
def square_value(func):
    def inner():
        func()
    return inner()

def addition_value(func):
    def inner():
        func()
    return inner()

@square_value
@addition_value
def addition(5):
    print("square_value")
    print("addition_value")

In [524]:
def addition_value(func):
    def inner(a, b):
        return func(a, b)
    return inner

def square_value(func):
    def inner(a, b):
        return func(a, b)
    return inner

@square_value
@addition_value
def calc(a, b):
    print(a+b)